stages:
  - build
  - test
  - security
  - release

include:
  - local: "/.gitlab/ci/build.yml"
  - local: "/.gitlab/ci/test.yml"
  - local: "/.gitlab/ci/security.yml"
  - local: "/.gitlab/ci/release.yml"
  - template: Security/SAST.gitlab-ci.yml

sast:
  stage: security
